* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body,
html {
  background-color: rgb(0, 0, 0);
  height: 100%;
}

#navContainer {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: absolute;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s;
}

#navbar {
  margin-top: 15px;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 1;
}
.element:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.1s;
}
.element {
  font-size: 17px;
  opacity: 0.6;
  text-decoration: none;
  border-bottom: 0.5px solid transparent;
  color: white;
  z-index: 10;
}
.noneNav {
  display: none;
}
.redes {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
.red {
  width: 23px;
  opacity: 0.8;
  transition: transform 0.2s;
}
.red:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 1;
  transition: all 0.2s;
}
#btnNav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.navBtn {
  height: 22px;
  transition: rotate 0.5s;
}
.navBtn:hover {
  cursor: pointer;
}
.none {
  display: none;
}
#main {
  transition: filter 0.8s;
}

#redesCont {
  position: absolute;
  bottom: 10px;
  gap: 25px;
}

#section-0 {
  background-image: url(../images/DSC02320\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: fixed;
  height: 100%;
  width: 100%;
}
.contenedor0 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.button {
  display: inline-block;
  border: none;
  background: rgb(208, 0, 0);
  padding: 7px 13px;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  transition: background-color 0.2s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.button:hover {
  background-color: #ff5454;
}
.button:active {
  background-color: #7d0000;
}
#booking {
  position: absolute;
  bottom: 22%;
}
.btnCenter {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logoMain {
  height: 23%;
}
.youtube {
  cursor: pointer;
  text-decoration: none;
}

#section-1 {
  background-image: url(../images/DSC02364\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: fixed;
  height: 100%;
  width: 100%;
}
.pres {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 98%;
  width: 100%;
}

.pres > p {
  width: 50%;
  text-align: center;
  font-size: 14px;
}

#section-2 {
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: fixed;
  height: 100%;
  width: 100%;
}
.contenedor1 {
  height: 100%;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 80%;
  margin-bottom: 20px;
}
.div1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 2%;
}
#enviar {
  margin-top: 20px;
  cursor: pointer;
}
.err {
  color: red;
  transition: 0.5s;
}
.pass {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.label {
  font-size: 18px;
  opacity: .9;
}

.labelErr {
  transition: all 0.5s;
}
#formC > textarea {
  resize: none;
}
.inp {
  margin-bottom: 5px;
  cursor: text;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, .6);
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  height: 20px;
  width: 70%;
}

.inp::placeholder {
  font-size: 13px;
}
.div1 > p {
  opacity: 0.5;
  font-size: 12px;
}
.div1 > h1 {
  font-size: 25px;
}
.errForm1 {
  color: red;
  font-size: 13px;
  position: absolute;
  bottom: 198px;
  opacity: 0px;
  transition: opacity 0.5s;
}

/* #section-3 {
  background-image: url(../images/DSC02305\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: fixed;
  height: 100%;
  width: 100%;
}

.imgCarousel {
  width: 35%;
}

#carousel {
  position: relative;
  top: 200px;
  bottom: 200px;
} */
